<?xml version="1.0" encoding="UTF-8"?>
<include>
	<!--  -->
	<table name="events">
		<column name="json_md5" type="String"/>
		<select name="ByPrimaryKey" single_object="true">
			<column name="event_id"/>
		</select>
		<!-- 
		<select name="UnlockEvent" single_object="true">
			<column name="is_locked" condition="=" value="0"/>
			<sort>event_id ASC</sort>
		</select>
		 -->
		<update name="ByPrimaryKey">
			<column name="event_id"/>
		</update>
		<delete name="ByPrimaryKey">
			<column name="event_id"/>
		</delete>
		<query name="UnlockEvent" single_object="true" use="Events">
			<sql>
				SELECT e.*, MD5(e.event_json) as json_md5
				FROM events e
				WHERE e.is_locked = 0
				ORDER BY event_id ASC
				LIMIT 1
			</sql>
		</query>
	</table>
	<!--  -->
	<table name="location_history">
		<column name="system_name" type="String">
	    	<annotation>@XMLSimple("systemName")</annotation>
		</column>
		<column name="station_name" type="String">
	    	<annotation>@XMLSimple("stationName")</annotation>
		</column>
		<select name="ByPrimaryKey" single_object="true">
			<column name="location_id"/>
		</select>
		<select name="LastLocation" single_object="true">
			<column name="pilot_id"/>
			<sort>location_time DESC</sort>
		</select>
		<query name="LastLocationForPilot" use="LocationHistory" single_object="true">
			<column name="PilotId" type="long"/>
			<sql>
				SELECT l.*, sy.name as system_name, st.name as station_name
				FROM location_history l
				LEFT JOIN systems sy ON l.system_id = sy.system_id
				LEFT JOIN stations st ON l.station_id = st.station_id
				WHERE l.pilot_id = ?
				ORDER BY location_time DESC
				LIMIT 1 
			</sql>
		</query>
	</table>
	<!--  -->
	<table name="location_system_history">
		<column name="system_name" type="String">
	    	<annotation>@XMLSimple("systemName")</annotation>
		</column>
		<select name="ByPrimaryKey" single_object="true">
			<column name="location_system_id"/>
		</select>
		<select name="LastSystemLocation" single_object="true">
			<column name="pilot_id"/>
			<sort>location_time DESC</sort>
		</select>
		<query name="LastLocationForPilot" use="LocationSystemHistory" single_object="true">
			<column name="PilotId" type="long"/>
			<sql>
				SELECT l.*, sy.name as system_name
				FROM location_system_history l
				LEFT JOIN systems sy ON l.system_id = sy.system_id
				WHERE l.pilot_id = ?
				ORDER BY l.location_time DESC
				LIMIT 1 
			</sql>
		</query>
		<query name="MaxMinDateSystemHistoryForPilot" single_object="true" intruder="org.c3s.db.injectors.EmptySqlInjector">
			<sql>
				SELECT p.pilot_id, MAX(DATE(l.location_time)) as max_date, MIN(DATE(l.location_time)) as min_date
				FROM pilots p
				LEFT JOIN location_system_history l ON l.pilot_id = p.pilot_id 
				WHERE 1 = 1
				<where/>
				GROUP BY p.pilot_id
				LIMIT 1 
			</sql>
		</query>
		<query name="SystemPath" intruder="org.c3s.db.injectors.EmptySqlInjector">
			<column name="PilotId" type="long"/>
			<sql>
				SELECT l.*, sy.name as system_name, sy.x, sy.y, sy.z, DATE_FORMAT(l.location_time, '%Y-%m-%d %T') as `timestamp`,
					CONCAT('[', FORMAT(sy.x, 2), ',', FORMAT(sy.y, 2), ',', FORMAT(sy.z, 2), ']') as position, FORMAT(SQRT(sy.x * sy.x + sy.y * sy.y + sy.z * sy.z), 2) as distance
				FROM location_system_history l
				LEFT JOIN systems sy ON l.system_id = sy.system_id
				WHERE 1 = 1
				<where/>
				ORDER BY l.location_time DESC
				<limit/>
			</sql>
		</query>
		<query name="SystemPathCount" intruder="org.c3s.db.injectors.EmptySqlInjector"  single_object="true">
			<column name="PilotId" type="long"/>
			<sql>
				SELECT count(l.location_system_id) as count 
				FROM location_system_history l
				WHERE l.pilot_id = ?
				<where/>
				LIMIT 1
			</sql>
		</query>
	</table>
	<!--  -->
	<table name="ranks">
		<select name="ByPrimaryKey" single_object="true">
			<column name="pilot_id"/>
		</select>
		<update name="ByPrimaryKey">
			<column name="pilot_id"/>
		</update>
	</table>
	<!--  -->
	<table name="progress">
		<select name="ByPrimaryKey" single_object="true">
			<column name="pilot_id"/>
		</select>
		<update name="ByPrimaryKey">
			<column name="pilot_id"/>
		</update>
	</table>
	<!--  -->
	<table name="events_history">
		<select name="ByPrimaryKey" single_object="true">
			<column name="events_history_id"/>
		</select>
		<select name="ByUserIdTimestampAndHash" single_object="true">
			<column name="user_id"/>
			<column name="event_timestamp"/>
			<column name="event_hash"/>
		</select>
		<update name="ByPrimaryKey">
			<column name="events_history_id"/>
		</update>
		<delete name="ByPrimaryKey">
			<column name="events_history_id"/>
		</delete>
		<query name="LastEventForUser" single_object="true">
			<column name="UserId" type="long"/>
			<sql>
				SELECT h.event_name as `event`, h.event_hash  as `hash`, DATE_FORMAT(h.event_timestamp, '%Y-%m-%dT%TZ') as `timestamp`, GROUP_CONCAT(p.pilot_name SEPARATOR '|||||') as `used_names`
				FROM events_history h 
				LEFT JOIN pilots p ON p.user_id = h.user_id
				WHERE h.user_id = ?
				AND h.event_name != 'CompanionApi'
				GROUP BY h.events_history_id
				ORDER BY h.event_timestamp DESC
				LIMIT 1
			</sql>
		</query>
		<query name="Activity" intruder="org.c3s.db.injectors.EmptySqlInjector">
			<sql>
				SELECT DAY(e.event_timestamp) as event_date, COUNT(DISTINCT HOUR(e.event_timestamp)) as times
				FROM events_history e
				WHERE 1=1
				<where/>
				GROUP BY DAY(e.event_timestamp)
				ORDER BY event_date ASC
			</sql>
		</query>
		<query name="EventMaxMinDateForPilot" single_object="true"  intruder="org.c3s.db.injectors.EmptySqlInjector">
			<sql>
				SELECT p.pilot_id, MAX(DATE(e.event_timestamp)) as max_date, MIN(DATE(e.event_timestamp)) as min_date
				FROM pilots p
				LEFT JOIN events_history e ON e.pilot_id = p.pilot_id 
				WHERE 1 = 1
				<where/>
				GROUP BY p.pilot_id
				LIMIT 1 
			</sql>
		</query>
		<query name="PilotsLastEvents" use="EventsHistory" intruder="org.c3s.edgo.common.intruders.EventHistoryPilotsInjector">
			<sql>
				SELECT h.*
				FROM events_history h
				WHERE 1=1
				<where/>
			</sql>
		</query>
		
	</table>
	<!--  -->
</include>