<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<module pattern="/" class="org.c3s.web.modules.lang.LanguageModule" action="processSuffix"/>
		<module class="org.c3s.edgo.web.auth.Auth" action="getRoles"/>
		<module pattern="/" class="org.c3s.edgo.web.AjaxCheker" action="isNotAjax">
			<!-- + Not AJAX MODULES  -->
			<module class="org.c3s.web.modules.lang.LanguageModule" action="getLanguageSwitch">
				<param name="type" value="xslt"/>
				<param name="tag" value="langs"/>
				<param name="template" value="{directory.stylesheet}/langs.xsl"/>
			</module>
			<module class="org.c3s.edgo.web.language.I10nManager" action="init">
				<param name="content" value="xml/i10n/content.xml"/>
				<param name="content" value="xml/i10n/materials.xml"/>
				<param name="content" value="xml/i10n/factions.xml"/>
				<param name="content" value="xml/i10n/engeneers.xml"/>
			</module>
			<!--
			-->
			<module pattern="*" class="org.c3s.web.nodes.xml.NodesModuleXML" action="processNodes">
				<param name="nodes" value="xml/nodes.xml"/>
				<module class="org.c3s.web.nodes.path.PathController" action="setPath"/>
			</module>
			
			<module class="org.c3s.web.modules.template.TemplateModule" action="setTemplate">
				<param name="template" value="{directory.templates}/template.jsp"/>
			</module>
			
			<!-- модули пользователей находятся здесь -->
			<module class="org.c3s.edgo.web.menu.CommanderMenu" action="getPilotList" instance="main_menu"/>
			
			<module class="org.c3s.edgo.web.common.CurrentURL" action="getCurrentURL"/>
			
			<!-- Markdown main page -->
			<module class="org.c3s.edgo.web.common.MD2Html" action="publishMD" is_last="true">
				<param name="tag" value="markdown" inherit="true"/>
				<param name="source" value="txt/about.md" inherit="true"/>
			</module>
			
			<!-- +Accounting  -->
			<module pattern="account/">
				<param name="order" value="deny,allow" inherit="true"/>
				<param name="tag" value="view_ctx" inherit="true"/>
				<param name="template" value="{directory.stylesheet}/account/user.xsl" inherit="true"/>
				<module pattern="profile/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
					<param name="allow" value="ROLE_LOGGED"/>
					<module class="org.c3s.edgo.web.auth.UserController" action="getProfile" is_last="true"/>
				</module>
				<module pattern="client-key/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
					<param name="allow" value="ROLE_LOGGED"/>
					<module class="org.c3s.edgo.web.auth.UserController" action="getClientKey" is_last="true"/>
				</module>
				<module pattern="pilots-control/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
					<param name="allow" value="ROLE_LOGGED"/>
					<module class="org.c3s.edgo.web.controllers.Settings" action="pilotLinkSettings" is_last="true">
						<param name="template" value="{directory.stylesheet}/settings/settings.xsl"/>
					</module>
				</module>
				<module pattern="confirmation/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles" is_last="true">
					<param name="allow" value="ROLE_REGISTERED"/>
					<module class="org.c3s.edgo.web.auth.UserController" action="confirmation" is_last="true"/>
					<module pattern="*/" class="org.c3s.edgo.web.auth.UserController" action="confirmEmail" is_last="true"/>
				</module>
				<module pattern="resend-email/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
					<param name="allow" value="ROLE_REGISTERED"/>
					<module class="org.c3s.edgo.web.auth.UserController" action="resendemail" is_last="true"/>
				</module>
				<module pattern="login/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles" is_last="true">
					<param name="allow" value="ROLE_NOT_LOGGED"/>
				</module>
				<module pattern="registration/" class="org.c3s.edgo.web.auth.Auth" action="checkRoles" is_last="true">
					<param name="allow" value="ROLE_NOT_LOGGED"/>
				</module>
			</module>
			<!-- -Accounting  -->
			<!-- +Commander  -->
			<module pattern="*/" class="org.c3s.edgo.web.controllers.Commander" action="checkCommander">
				<param name="tag" value="view_ctx" inherit="true"/>
				<param name="template" value="{directory.stylesheet}/commander/commander.xsl" inherit="true"/>
				<module pattern="info/" class="org.c3s.edgo.web.controllers.Commander" action="getInformation" is_last="true"/>
				<module pattern="systems/" class="org.c3s.edgo.web.controllers.Commander" action="getSystemsPath" is_last="true"/>
				<module pattern="ships/" class="org.c3s.edgo.web.controllers.Commander" action="getShips" is_last="true">
					<module pattern="*/" class="org.c3s.edgo.web.controllers.Commander" action="getShip" is_last="true"/>
				</module>
				<module pattern="powers/" class="org.c3s.edgo.web.controllers.Commander" action="getPowers" is_last="true"/>
				<module pattern="missions/" class="org.c3s.edgo.web.controllers.Commander" action="getMissions" is_last="true"/>
				<module pattern="materials/" class="org.c3s.edgo.web.controllers.Commander" action="getMaterials" is_last="true"/>
			</module>
			<!-- -Commander  -->
			<!-- +Utilites  -->
			<module pattern="utility/">
				<param name="tag" value="view_ctx" inherit="true"/>
				<module pattern="settlements/" class="org.c3s.edgo.web.utilites.Settlerments" action="getCanvas" is_last="true">
					<param name="template" value="{directory.stylesheet}/utilites/settlements.xsl"/>
				</module>
				<module pattern="faction-states/" class="org.c3s.edgo.web.utilites.Factions" action="getCanvas" is_last="true">
					<param name="template" value="{directory.stylesheet}/utilites/factions.xsl"/>
				</module>
			</module>
			<!-- -Utilites  -->
			<!-- +Test  -->
			<module pattern="ajax-test/" class="org.c3s.web.modules.template.TemplateModule" action="setTemplate">
				<param name="template" value="{directory.templates}/json.jsp"/>
				<param name="tag" value="json" inherit="true"/>
				<param name="ajax_tag" value="json" inherit="true"/>
				<module pattern="systems/" class="org.c3s.edgo.web.controllers.Commander" action="getSystemsTest" is_last="true"/>
			</module>
			<!-- -Test  -->
			<!-- /модули пользователей находятся здесь -->
			
			<module pattern="*" class="org.c3s.web.nodes.path.PathController" action="getPath" is_last="true">
				<param name="tag" value="path"/>
				<param name="template" value="{directory.stylesheet}/path.xsl"/>
				<param name="type" value="xslt"/>
			</module>		
			<module pattern="*" class="org.c3s.web.nodes.content.ContentModule" action="process"/>
			<module pattern="*" class="org.c3s.edgo.web.menu.CommanderMenu" action="getMenu" instance="main_menu">
				<param name="tag" value="menu_main"/>
				<param name="template" value="{directory.stylesheet}/menu.xsl"/>
				<param name="type" value="xslt"/>
			</module>
			<!-- - Not AJAX MODULES  -->
		</module>
		<module pattern="/" class="org.c3s.edgo.web.AjaxCheker" action="isAjax">
			<param name="tag" value="json" inherit="true"/>
			<param name="ajax_tag" value="json" inherit="true"/>
			<!-- + AJAX MODULES  -->
			<module class="org.c3s.web.modules.template.TemplateModule" action="setTemplate">
				<param name="template" value="{directory.templates}/json.jsp"/>
				<module pattern="ajax/">
					<module pattern="client/" class="org.c3s.edgo.web.client.RemoteClient" action="getRequest" is_last="true"/>
					<module pattern="profile/">
						<param name="template" value="{directory.stylesheet}/mail.xsl" inherit="true"/>
						<param name="from" value="ed-go.ru &lt;noreply@ed-go.ru&gt;" inherit="true"/>
						<param name="subject" value="Register to site" inherit="true"/>
						<module class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
							<param name="order" value="deny,allow"/>
							<param name="allow" value="ROLE_NOT_LOGGED"/>
							<module pattern="login/" class="org.c3s.edgo.web.auth.UserController" action="login" is_last="true"/>
							<module pattern="registration/" class="org.c3s.edgo.web.auth.UserController" action="registration" is_last="true"/>
							<module pattern="restore/" class="org.c3s.edgo.web.auth.UserController" action="restore" is_last="true">
								<param name="subject" value="Restore password" inherit="true"/>
							</module>
						</module>
						<module class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
							<param name="order" value="deny,allow"/>
							<param name="allow" value="ROLE_REGISTERED"/>
							<module pattern="resend-email/" class="org.c3s.edgo.web.auth.UserController" action="resendemailCommit" is_last="true"/>
						</module>
						<module pattern="logout/" class="org.c3s.edgo.web.auth.UserController" action="logout" is_last="true"/>
						<module class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
							<param name="order" value="deny,allow"/>
							<param name="allow" value="ROLE_LOGGED"/>
							<module pattern="key-update/" class="org.c3s.edgo.web.auth.UserController" action="generateNewKeys" is_last="true"/>
							<module pattern="change-password/" class="org.c3s.edgo.web.auth.UserController" action="changePassword" is_last="true"/>
						</module>
					</module>
					<!-- PIlots info -->
					<module pattern="pilots/">
						<module pattern="*/" class="org.c3s.edgo.web.controllers.Commander" action="checkCommander">
							<module pattern="activity/" class="org.c3s.edgo.web.controllers.Commander" action="getActivity" is_last="true"/>
							<module pattern="systems/" class="org.c3s.edgo.web.controllers.Commander" action="getSystems" is_last="true"/>
							<module pattern="materials/" class="org.c3s.edgo.web.controllers.Commander" action="updateMaterials" is_last="true"/>
						</module>
					</module>
					<!-- Settlerments and other utility -->
					<module pattern="utility/">
						<module pattern="system-search/" class="org.c3s.edgo.web.utilites.Systems" action="getSystemByPatiallyName" is_last="true"/>
						<module pattern="settlements-search/" class="org.c3s.edgo.web.utilites.Settlerments" action="searchSettlements" is_last="true"/>
						<module pattern="faction-search/" class="org.c3s.edgo.web.utilites.Factions" action="getFactionsByPatiallyName" is_last="true"/>
						<module pattern="materials/" class="org.c3s.edgo.web.controllers.Commander" action="getBlueprintsMaterials" is_last="true"/>
						<module pattern="material-grades/" class="org.c3s.edgo.web.controllers.Commander" action="getMaterialInfo" is_last="true"/>
					</module>
				</module>
				<module pattern="raw/" class="org.c3s.web.modules.template.TemplateModule" action="setTemplate">
					<param name="template" value="{directory.templates}/raw.jsp"/>
					<module pattern="profile/">
						<module class="org.c3s.edgo.web.auth.Auth" action="checkRoles">
							<param name="order" value="deny,allow"/>
							<param name="allow" value="ROLE_LOGGED"/>
							<module pattern="pilot-contol-update/" class="org.c3s.edgo.web.controllers.Settings" action="pilotLinkSettingsUpdate" is_last="true">
								<param name="template" value="{directory.stylesheet}/settings/settings.xsl"/>
							</module>
						</module>
					</module>
					<module pattern="utility/">
						<module pattern="faction-info/" class="org.c3s.edgo.web.utilites.Factions" action="getFactionInformation" is_last="true">
							<param name="template" value="{directory.stylesheet}/utilites/factions.xsl"/>
						</module>
					</module>
				</module>
				
			</module>
			<!-- - AJAX MODULES  -->
		</module>
		<module pattern="*" class="org.c3s.web.modules.template.TemplateModule" action="showTemplate" is_last="true"/>
		<!--
		-->
	</modules>
</config>
