body {
	padding: 10px;
}

.alert-error {
    background-color: #f26b46;
    display: block;
    padding: 2px 11px;
    color: #fff;
    font-size: 12px;
	margin-bottom:5px;
}


.table > thead > tr > th {
    vertical-align: middle;
    padding-left: 20px;
}
